LOG_LEVEL=DEBUG
WAHA_API_URL=http://localhost:3000
WAHA_API_KEY=your-waha-api-key
WAHA_WEBHOOK_URL=http://host.docker.internal:5002/webhook
WAHA_PRINT_QR=false
OPENAI_API_KEY=your-openai-api-key
OPENAI_MODEL=gpt-3.5-turbo
EMBEDDING_MODEL=paraphrase-multilingual-MiniLM-L12-v2
dalle_model=dall-e-3
WEBHOOK_URL=http://host.docker.internal:5002/webhook
REDIS_URL=redis://localhost:6379
DALLE_PREFIX=!!
GPT_PREFIX=??
TOKENIZERS_PARALLELISM=false
QDRANT_COLLECTION_NAME=semantic_memory