# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
env/
venv/
.venv/

# Environment variables
.env

# macOS
.DS_Store

# VS Code
.vscode/

# Logs
*.log

# Byte-compiled / optimized / DLL files
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Dropbox sync files
*.dropbox
.dropbox.cache/

# Rooflow
.roo/*

